<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ChannelManagerTest">
   <test name="ChannelManagerTest">
   
   <groups>
      <run>
    
    <!--   <include name="VB" /> -->
    <!-- <include name="ChannelManager" /> --> 
   	<!--<include name="Login" />  -->

   	<!--  <include name="testDebug" /> --> 
    <!--    <include name="BR" /> -->
        
    <!-- <include name="Smoke" /> -->

   	<!--   <include name="testDebug" /> -->  
      
     <include name="BR" />

      </run>
   </groups>
   
   <classes>
      <class name="ChannelAutomation.Admin.Test.AdminLoginTest" />
   </classes>
   
   </test>
</suite>